*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- TEMPORARY STYLES TO DELETE ----- */
/* *{
    padding: 0.5rem;
    border: 1px solid lightslategray;
} */
/* ----- TEMPORARY STYLES TO DELETE ----- */

/* html, body {
    border: none;
} */

/* .bg-image{
    border: .5px solid yellow;
} */

/* h1, h2, h3, h4, h5, h6, p, a {
    border: 2px solid red;
} */

/* ----- Utitly Classes ----- */

.tall-50        { min-height: 50vh; }
.tall-60        { min-height: 60vh; }
.tall-70        { min-height: 70vh; }
.tall-80        { min-height: 80vh; }
.tall-90        { min-height: 90vh; }

.padded         {padding:5%}
.padded-1       {padding:1rem}
.padded-2       {padding:2rem}
.padded-large   {padding: 10%;}

.bg-featured    {background-color: #1C2A2C;}
.bg-dark        { background-color: #24282B; }

.light-text     {color:white;}
.dark-text      {color: #1c2a2c;} 

.left           {text-align: left;}
.right          {text-align: right;}
.center         {text-align: center;}

/* ----- TYPOGRAPHY ----- */
/* 200, 300, 600, 900 (italic 300) | Merriweather 900 */

body {font-family: 'Catamaran', sans-serif;}
 
h1, h2, h3, h4, h5,  {
    font-family: 'Flamenco', cursive;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 8.5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

.not-bold{
    font-size: 3rem;
    font-weight: 300;
}

h6, p, li {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

a {
    color: inherit;
}

a:hover{
    color: #4e91ad;
}

nav{
    font-size: 2rem;
}

nav a {
    text-decoration: none;
}

p:last-child,p:li {margin-bottom: 0;}

.fab {
    font-size: 2rem;
    padding-left: 1rem;
}

/* ----- BACKGROUND IMAGES ----- */

.bg-image{
    background-color: #24282b;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/the-bunker-1.jpg');
}

.bg-roof{
    background-image: url('/assets/the-bunker-5.jpg');
    background-position: center;
}

.bg-bed{
    background-image: url('/assets/the-bunker-1.jpg');
    background-position: center;
}

.bg-hallway{
    background-image: url('/assets/the-bunker-3.jpg');
    background-position: 50% 45%;
}

.bg-lounge{
    background-image: url('/assets/the-bunker-4.jpg');
    background-position: center;
}

.bg-lounge-2{
    background-image: url('/assets/the-bunker-2.jpg');
    background-position: center;
}

.bg-sheets{
    background-image: url('/assets/the-bunker-7.jpg');
    background-position: center;
}

.bg-maps{
    background-image: url('/assets/the-bunker-6.png');
    background-position: center;
}

.bg-padded {padding: 25%;}

    /* ----- SOCIAL MEDIA ----- */

.socials-banner {
    color: white;
    background-position: top;
}

/* ----- Footer ----- */

footer h2 {
    font-size: 4rem;
    line-height: 3rem;
}

footer p{
    margin-bottom: 0.2rem;
    line-height: 0.5;
}

.subtle{
    font-size: 0.8rem;
    opacity: 0.8;
    font-style: italic;
}

footer h6{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
}

footer a {
    font-size: 1rem;
}

footer p{
    font-size: 1rem;
    line-height: 1;
}

.email {
    margin-top: 1rem;
}

/* ----- RESPONSIVE ----- */

/* -- small -- */

/* @media(max-width: 48em;){
    .hide-sm {display: none;}
    .flip-grid {flex-direction: column-reverse;}
} */

@media (max-width: 48em) {

    .hide-sm { display: none; }

    .flex-flip-sm { flex-direction: column-reverse; }
}